* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/* -----------   Nav Bar   ----------  */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 10vh;
    top: 0;
    left: 0;
    background: white;
    color: #333333;
    padding: 0 2rem;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.menu li a {
    color: #333333;
    text-decoration: none;
    margin-left: 20px;
}

#check {
    display: none;
}

.nav .checkbtn{
    float: right;
    right: 0;
    display: none;
}


/* ----------   boutton   ---------- */

.btn {
    padding: 8px 22px;
    background: #3492fd;
    color: white;
    border-radius: 5rem;
    text-decoration: none;
   
}

.btn:hover {
    background: #4199ff;
}

.connect-box {
    min-width: 500px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    flex-direction: column;
    padding: 40px 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 3rem 3rem 3rem 3rem;
}

.connect-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.connect-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("img/im2.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.box {
    height: 100%;
    background-size: cover;
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #509be1;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: rgb(247, 150, 150);
}

.input {
    display: flex;
    flex-direction: column;
}

/* ----------   footer   --------- */

footer {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-top: 1px dashed black;
    position: absolute;
    height: 9vh;
    bottom: 0px;
    right: 0px;
    left: 0;
    background: #333333;
    color: #333333;
    padding: 0 2rem;

}

.menu_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.menu_footer li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.bars {
    display: flex;
    font-size: 30px;
    color: #2a4768;
    float: right;
    margin-right: 40px;

    line-height: 80px;
    cursor: pointer;
    display: none;
}

/* ---------- Responsive   ----------*/

@media screen and (max-width: 850px) {
    .sidebar img {
        display: none;
    }
    .sidebar .tdb-img {
        color: #83a4ff;
    }
    .sidebar span {
        display: none;
    }
    .sidebar .top h3 {
        display: none;
    }
    .sidebar {
        width: 100px;
    }
    .sidebar a i {
        display: block;
        text-align: center;
        margin-left: 0;
        font-size: 25px;
        line-height: 25px;
    }
}
@media screen and (min-width: 500px) and (max-width:1230px) {
    .checkbtn i {
        display: flex;
    }

    .menu {
        position: fixed;
        height: 100vh;
        background: #333333;
        color: #ffffff;
        top: 76px;
        left: -110%;
        text-align: center;
        transition: all .5s;
        width: 100%;
        display: block;
    }

    .menu li a {
        color: #ffffff;
        margin: 0 100px;
    }

    .menu li {
        margin-top: 80px;
    }

    nav ul li a .btn {
        font-size: 20px;

    }

    a:hover {
        background: none;
        color: #eb9292;
    }

    .burger i {
        display: flex;
    }


    #check:checked~.menu {
        left: 0;
    }

    #check:checked~.btn {
        left: 0;
    }
}